div:has(input.input) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 10px;
}

.input {
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid yellowgreen;
  padding: 5px;
}
.input:focus {
  outline: none;
  border-color: rgb(71, 71, 71);
}
